* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #173463;
}

main#app-container {
    max-width: 94%;
}

h4 {
    text-align: center;
}

iframe {
    max-width: 100%;
}